* {
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    font: normal 16px Arial, sans-serif;
    background-color: #343631;
}

body {
    width: 50vw;
    padding: 1.875rem;
    background-color: #f2f2f2;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__title,
.header__subtitle,
.header__applicant-name {
    font-size: 1.125rem;
    text-transform: uppercase;
}

.header__section-main-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__subtitle {
    color: #a7a7a7;
}

.header__applicant-name {
    font-size: 2.5rem;
}

.header__contacts-list {
    display: flex;
    font-size: 0.875rem;
    list-style-type: none;
}

.header__contacts-list-item {
    position: relative;
    margin-right: 1.375rem;
}

.header__contacts-list-item::after {
    position: absolute;
    right: -15px;
    content: '|';
    color: #a7a7a7;
}

.header__contacts-list-item:last-child:after {
    content: '';
}

.header__image-wrapper {
    position: relative;
}

.header__image {
    width: 230px;
    padding: 20px;
    background-color: #e1e1e1;
    filter: grayscale(100%);
}

.header__image-wrapper::after {
    position: absolute;
    top: -30px;
    left:0;
    width: 100%;
    height: 11%;
    content: '';
    background-color: #e1e1e1;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main_left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41%;
}

.main__stack {
    display: flex;
    flex-direction: column;
}

.main__section-title {
    padding: 0.5rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    background-color: #e1e1e1;
}

.main__common-list {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    list-style-type: none;
}

.main__right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55.5%;
}

.main__common-text-margin {
    margin: 0.5rem;
}

.main__pre {
    font-size: 0.9rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0.5rem;
    text-align: right;
    background-color: #e1e1e1;
}

.footer__rs-logo {
    width: 50px;
}

.footer__github-link {
    text-decoration: none;
    color: #343631;
}

.footer__github-link:hover {
    color: #a7a7a7;
}